<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="add-ai-main-container">
  <div class="add-ai-top-part">
    <h2 class="add-ai-header">Add AI to the lobby</h2>
    <div class="add-ai-checkbox">
      <div class="add-ai-checkbox-space">
        <input type="checkbox" />
        <span class="add-ai-header">Yes</span>
      </div>
      <div class="add-ai-checkbox-space">
        <input type="checkbox" />
        <span class="add-ai-header">No</span>
      </div>
    </div>
    <div class="add-ai-tooltip">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fd5806841e4361cd44f91bd4298caf8c01d0dbb7fb9f8bc6299a96f593aa5d82?placeholderIfAbsent=true&apiKey=eda21b0eda1a435c9533d7e3cc54cd8d"
        alt="settings"
        class="settings-icon"
      />
      <span class="add-ai-tooltiptext"
        >In order to play with AI you need to add it to the lobby. To do so you
        have to have 3 players at max. For 1 player AI will be added
        automatically.</span
      >
    </div>
  </div>
  <div class="add-ai-buttons">
    <button class="add-ai-button back" tabindex="0">Back</button>
    <button class="add-ai-button continue" tabindex="0">Continue</button>
  </div>
</div>
