<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="/home/dnikifor/Documents/styles.css" rel="stylesheet" />

<section class="player-brief-info-container">
  <div class="player-brief-info-panel">
    <h1 class="auth-title">Add player</h1>
    <button class="auth-button" type="button">Sign up</button>
    <button class="auth-button" type="button">Sign in</button>
  </div>
</section>
