<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="match-stats">
  <div class="match-stats-header">
    <header class="match-stats-header-wrapper">
      <a href="#" class="logo">
        <img src="../assets/back_arrow.svg" alt="" />
      </a>
      <h1 class="match-stats-title">Match statistics</h1>
    </header>
  </div>
  <div class="match-stats-result">
    <div class="match-stats-text-format">
      <span>Vladimir</span>
      <span>11</span>
    </div>
    <div class="match-stats-text-format">
      <span>Max</span>
      <span>0</span>
    </div>
  </div>
  <div class="match-stats-result match-stats-time-info">
    <div class="match-stats-text-format">
      <span>Match time:</span>
      <span>05m 26sec</span>
    </div>
    <div class="match-stats-text-format">
      <span>Date:</span>
      <span>10/05/2024</span>
    </div>
  </div>
  <div class="match-stats-header-no-arrow">
    <h1 class="match-stats-title">H2H</h1>
  </div>
  <div class="match-stats-result">
    <div class="match-stats-text-format">
      <span>Vladimir</span>
      <span class="match-stats-match-score">7:4</span>
      <span>Max</span>
    </div>
  </div>
  <div class="match-stats-header-no-arrow">
    <h1 class="match-stats-title">H2H matches</h1>
  </div>
  <div class="match-stats-scroll-container">
    <ul class="match-stats-list">
      <li class="match-stats-text-format">
        <span>Vladimir</span>
        <span class="match-stats-match-score">11:2</span>
        <span>Max</span>
      </li>
      <li class="match-stats-text-format">
        <span>Max</span>
        <span class="match-stats-match-score">9:11</span>
        <span>Vladimir</span>
      </li>
      <li class="match-stats-text-format">
        <span>Vladimir</span>
        <span class="match-stats-match-score">4:11</span>
        <span>Max</span>
      </li>
      <li class="match-stats-text-format">
        <span>Vladimir</span>
        <span class="match-stats-match-score">13:11</span>
        <span>Max</span>
      </li>
      <li class="match-stats-text-format">
        <span>Max</span>
        <span class="match-stats-match-score">10:12</span>
        <span>Vladimir</span>
      </li>
    </ul>
  </div>
</div>
