<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<nav class="navigation-header-container">
  <div class="navigation-header-wrapper">
    <div class="navigation-header-logo">
      <h1 class="navigation-header-logo-text">PONG</h1>
    </div>
    <div class="navigation-header-content">
      <p class="navigation-header-item">HOME</p>
      <p class="navigation-header-item">ABOUT</p>
      <p class="navigation-header-item">SETTINGS</p>
    </div>
  </div>
</nav>
