<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="player-brief-info-panel">
  <img
    loading="lazy"
    src="../assets/default_avatar.png"
    class="profile-avatar"
    alt="User profile avatar"
  />
  <h2 class="username">TestUserName1</h2>
  <button class="profile-button" tabindex="0">Profile</button>
  <button class="logout-button" tabindex="0">Log out</button>
</div>
