<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="/home/dnikifor/Documents/styles.css" rel="stylesheet" />

<div class="player-brief-info-panel">
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/b4265ca2ba8b4b736552a6c78bd47d6c53403c86dca1cb18b5719a9d91b77adf?placeholderIfAbsent=true&apiKey=eda21b0eda1a435c9533d7e3cc54cd8d"
    class="profile-avatar"
    alt="User profile avatar"
  />
  <h2 class="username">TestUserName1</h2>
  <button class="profile-button" tabindex="0">Profile</button>
  <button class="logout-button" tabindex="0">Log out</button>
</div>
