<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="profile-match-statistics">
  <div class="profile-friend-statistics-top">
    <header class="profile-friend-statistics-wrapper">
      <a href="#" class="logo profile-friend-statistics">
        <img src="../src/assets/back_arrow.svg" alt="" />
      </a>
      <img
        loading="lazy"
        src="../src/assets/default_avatar.png"
        alt="Player avatar"
        class="profile-friend-statistics-avatar"
      />
      <h1 class="profile-friend-statistics-name">Max</h1>
    </header>
  </div>
  <div class="profile-friend-statistics-bottom">
    <div class="profile-friend-statistics-recent-matches">
      <div class="profile-friend-statistics-recent-matches-div">
        <h1 class="profile-friend-statistics-title">Recent matches</h1>
      </div>
      <div>
        <div>
          <ul class="profile-recent-matches-ul">
            <li class="profile-recent-matches-list">
              <div>
                <span class="profile-friend-statistics-date">11/05/2024</span>
              </div>
              <div class="profile-recent-player-score">
                <span>TestUser1</span>
                <span class="profile-friend-statistics-score">11</span>
              </div>
              <div class="profile-recent-player-score">
                <span>TestUser2</span>
                <span class="profile-friend-statistics-score">9</span>
              </div>
            </li>
            <li class="profile-recent-matches-list">
              <div>
                <span class="profile-friend-statistics-date">10/05/2024</span>
              </div>
              <div class="profile-recent-player-score">
                <span>TestUser1</span>
                <span class="profile-friend-statistics-score">5</span>
              </div>
              <div class="profile-recent-player-score">
                <span>TestUser3</span>
                <span class="profile-friend-statistics-score">11</span>
              </div>
            </li>
            <li class="profile-recent-matches-list">
              <div>
                <span class="profile-friend-statistics-date">10/05/2024</span>
              </div>
              <div class="profile-recent-player-score">
                <span>TestUser1</span>
                <span class="profile-friend-statistics-score">9</span>
              </div>
              <div class="profile-recent-player-score">
                <span>TestUser4</span>
                <span class="profile-friend-statistics-score">11</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="profile-friend-matches-h2h">
      <div class="profile-friend-dashboards">
        <div class="profile-friend-statistics-dashboard-template">
          Dashboard
        </div>
      </div>
      <h1 class="profile-friend-statistics-h2h-header">H2H</h1>
      <div class="profile-recent-player-score">
        <span>TestUser1</span>
        <span class="profile-friend-statistics-h2h">9</span>
      </div>
      <div class="profile-recent-player-score">
        <span>TestUser4</span>
        <span class="profile-friend-statistics-h2h">11</span>
      </div>
    </div>
  </div>
</div>
