<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="profile-match-statistics">
  <div class="match-stats-header">
    <header class="match-stats-header-wrapper">
      <a href="#" class="logo">
        <img src="../assets/back_arrow.svg" alt="" />
      </a>
      <h1 class="match-stats-title">Match statistics</h1>
    </header>
  </div>
  <div class="match-stats-result">
    <div class="match-stats-text-format">
      <span class="profile-match-statistics-span">Vladimir</span>
      <span class="profile-match-statistics-span">11</span>
    </div>
    <div class="match-stats-text-format">
      <span class="profile-match-statistics-span">Max</span>
      <span class="profile-match-statistics-span">0</span>
    </div>
  </div>
  <div class="match-stats-result match-stats-time-info">
    <div class="match-stats-text-format">
      <span class="profile-match-statistics-span">Match time:</span>
      <span class="profile-match-statistics-span">05m 26sec</span>
    </div>
    <div class="match-stats-text-format">
      <span class="profile-match-statistics-span">Date:</span>
      <span class="profile-match-statistics-span">10/05/2024</span>
    </div>
  </div>
  <div class="profile-match-statistics-bottom">
    <div class="profile-matches-h2h">
      <h1 class="profile-match-statistics-h2h-header">H2H</h1>
      <div class="profile-h2h-overall">
        <span>TestUserName1</span>
        <span class="profile-h2h-value">6</span>
        <span>TestUserName2</span>
        <span class="profile-h2h-value">2</span>
      </div>
    </div>
    <div class="profile-dashboards">
      <div class="profile-match-statistics-dashboard-template"></div>
    </div>
  </div>
</div>
