<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="profile-main">
  <div class="profile-top">
    <div class="profile-top-left">
      <img
        loading="lazy"
        src="../src/assets/default_avatar.png"
        alt="Player avatar"
        class="profile-player-avatar"
      />
      <h1 class="profile-player-name">TestUserName1</h1>
    </div>
    <div class="profile-change-password-container">
      <button class="profile-change-password">
        <div>
          <h2 class="profile-change-password-text">Change password</h2>
          <img src="" alt="" />
        </div>
      </button>
    </div>
  </div>

  <div class="profile-middle">
    <div class="profile-middle-left">
      <div class="profile-add-friend-container">
        <input
          type="text"
          class="profile-add-friend-input"
          placeholder="Add new friend"
          aria-label="Add new friend"
        />
      </div>
      <div class="profile-friend-list">
        <div class="profile-friend-list-top">
          <div>
            <h1 class="profile-friend-list-title">Friends</h1>
          </div>
          <div class="profile-friend-list-search">
            <input
              type="text"
              class="profile-friend-list-input"
              placeholder="Find friend"
              aria-label="Find friend"
            />
          </div>
        </div>
        <div class="profile-scroll-container friends">
          <ul class="profile-friends-ul">
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">TestUserName2</span>
              </div>
              <div>
                <span class="profile-friend-status">offline</span>
                <span class="profile-friend-actions">accept | decline</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">Max</span>
              </div>
              <div>
                <span class="profile-friend-status">online</span>
                <span class="profile-friend-actions">profile | remove</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">Alex</span>
              </div>
              <div>
                <span class="profile-friend-status">online</span>
                <span class="profile-friend-actions">profile | remove</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">Robert</span>
              </div>
              <div>
                <span class="profile-friend-status">online</span>
                <span class="profile-friend-actions">pending...</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">42Admin</span>
              </div>
              <div>
                <span class="profile-friend-status">offline</span>
                <span class="profile-friend-actions">profile | remove</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">VeryLongNameToCheck</span>
              </div>
              <div>
                <span class="profile-friend-status">offline</span>
                <span class="profile-friend-actions">profile | remove</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">Test1</span>
              </div>
              <div>
                <span class="profile-friend-status">offline</span>
                <span class="profile-friend-actions">profile | remove</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">Test2</span>
              </div>
              <div>
                <span class="profile-friend-status">offline</span>
                <span class="profile-friend-actions">profile | remove</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">Test99</span>
              </div>
              <div>
                <span class="profile-friend-status">offline</span>
                <span class="profile-friend-actions">profile | remove</span>
              </div>
            </li>
            <li class="profile-friends-list">
              <div>
                <span class="profile-friend-name">Test100</span>
              </div>
              <div>
                <span class="profile-friend-status">offline</span>
                <span class="profile-friend-actions">profile | remove</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="profile-recent-matches">
      <div class="profile-recent-matches-top">
        <h1 class="profile-recent-matches-title">Recent matches</h1>
      </div>
      <div class="profile-scroll-container matches">
        <ul class="profile-recent-matches-ul">
          <li class="profile-recent-matches-list">
            <div>
              <span class="profile-recent-matches-date">11/05/2024</span>
            </div>
            <div class="profile-recent-player-score">
              <span>TestUser1</span>
              <span class="profile-recent-matches-score">11</span>
            </div>
            <div class="profile-recent-player-score">
              <span>TestUser2</span>
              <span class="profile-recent-matches-score">9</span>
            </div>
          </li>
          <li class="profile-recent-matches-list">
            <div>
              <span class="profile-recent-matches-date">10/05/2024</span>
            </div>
            <div class="profile-recent-player-score">
              <span>TestUser1</span>
              <span class="profile-recent-matches-score">5</span>
            </div>
            <div class="profile-recent-player-score">
              <span>TestUser3</span>
              <span class="profile-recent-matches-score">11</span>
            </div>
          </li>
          <li class="profile-recent-matches-list">
            <div>
              <span class="profile-recent-matches-date">10/05/2024</span>
            </div>
            <div class="profile-recent-player-score">
              <span>TestUser1</span>
              <span class="profile-recent-matches-score">9</span>
            </div>
            <div class="profile-recent-player-score">
              <span>TestUser4</span>
              <span class="profile-recent-matches-score">11</span>
            </div>
          </li>
          <li class="profile-recent-matches-list">
            <div>
              <span class="profile-recent-matches-date">06/05/2024</span>
            </div>
            <div class="profile-recent-player-score">
              <span>TestUser1</span>
              <span class="profile-recent-matches-score">12</span>
            </div>
            <div class="profile-recent-player-score">
              <span>TestUser5</span>
              <span class="profile-recent-matches-score">10</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-dashboards">
      <div class="dashboard-template">Dashboard 1</div>
      <div class="dashboard-template">Dashboard 2</div>
    </div>
  </div>

  <div class="profile-buttons">
    <button class="profile-buttons-custom" tabindex="0">Back to menu</button>
    <button class="profile-buttons-custom" tabindex="0">Delete account</button>
  </div>

</div>
