<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="tournament-container">
  <article class="tournament-card">
    <h2 class="tournament-title">Tournaments</h2>
    <div class="tournament-content">
      <a href="#">
        <img
          loading="lazy"
          src="../src/assets/left_triangle_arrow.svg"
          alt=""
          class="tournament-icon"
        />
      </a>
      <div class="tournament-details">
        <a href="#" class="tournament-link"> Transcendence Cup 2024 </a>
        <br />
        Status: <span class="status-completed">completed</span>
        <br />
        Winner: Max
        <br />
        Runner-up: Alex
        <br />
        Created: <span class="date-text">25/02/2024</span>
        <br />
        Ended: <span class="date-text">27/02/2024</span>
        <br />
      </div>
      <a href="#">
        <img
          loading="lazy"
          src="../src/assets/right_triangle_arrow.svg"
          alt=""
          class="tournament-icon"
        />
      </a>
    </div>
  </article>
</div>
