<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="matches-container">
  <div class="matches-card">
    <h2 class="matches-title">Recent matches</h2>
    <article class="matches-list">
      <ul class="match-results">
        <li class="match-result">
          <a href="#match1" class="match-link">
            <span class="winner-name">Vladimir</span> beat Max [11 : 0]
          </a>
        </li>
        <li class="match-result">
          <a href="#match2" class="match-link">
            <span class="winner-name">Max</span> beat Alex [11 : 6]
          </a>
        </li>
        <li class="match-result">
          <a href="#match3" class="match-link">
            <span class="winner-name">Leo</span> beat Robert [12 : 10]
          </a>
        </li>
        <li class="match-result">
          <a href="#match4" class="match-link">
            <span class="winner-name">Max</span> beat Robert [11 : 1]
          </a>
        </li>
        <li class="match-result">
          <a href="#match5" class="match-link">
            <span class="winner-name">David</span> beat Max [11 : 8]
          </a>
        </li>
        <li class="match-result match-result-large">
          <a href="#match6" class="match-link">
            <span class="winner-name">David</span> beat Vladimir [14 : 12]
          </a>
        </li>
        <li class="match-result">
          <a href="#match7" class="match-link">
            <span class="winner-name">David</span> beat Max [11 : 7]
          </a>
        </li>
        <li class="match-result">
          <a href="#match8" class="match-link">
            <span class="winner-name">David</span> beat Max [11 : 7]
          </a>
        </li>
        <li class="match-result">
          <a href="#match9" class="match-link">
            <span class="winner-name">David</span> beat Max [11 : 7]
          </a>
        </li>
        <li class="match-result">
          <a href="#match10" class="match-link">
            <span class="winner-name">David</span> beat Max [11 : 7]
          </a>
        </li>
      </ul>
    </article>
    <div
      class="matches-scrollbar"
      role="scrollbar"
      aria-orientation="vertical"
    ></div>
  </div>
</div>
