<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<section class="register-container">
  <form class="register-form-wrapper">
    <header class="header-container">
      <a href="#" class="logo">
        <img
        src="../assets/back_arrow.svg"
          alt=""
        />
      </a>
      <h1 class="title">Sign up</h1>
    </header>

    <input
      type="text"
      id="displayName"
      class="form-input first-input"
      placeholder="display name"
    />

    <input
      type="text"
      id="username"
      class="form-input"
      placeholder="username"
    />

    <input
      type="password"
      id="password"
      class="form-input"
      placeholder="password"
    />

    <input
      type="password"
      id="repeatPassword"
      class="form-input"
      placeholder="repeat password"
    />

    <div class="remember-me-container">
      <input type="checkbox" id="rememberMe" class="checkbox-inner" />
      <span class="remember-text">Remember me</span>
    </div>

    <div class="button-wrapper">
      <button type="submit" class="submit-button">Sign up</button>
    </div>

    <div class="prompt">
      <span class="prompt-text">Already have an account?</span>
      <a href="#" class="reg-link">Sign in</a>
    </div>

    <hr class="divider" />

    <div class="prompt-oauth">
      <span class="prompt-text">Sign up with 42 account</span>
    </div>

    <a href="#" class="oauth-logo">
      <img
      src="../assets/42_api_logo.png"
        alt="42 Logo"
        class="oauth-logo"
      />
    </a>
  </form>
</section>
