<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="single-game-lobby">
  <div class="single-game-top">
    <div class="single-game-grid-left">
      <div class="game-player-card">
        <article class="game-player-card-inner">
          <h2 class="game-player-number">Player 1</h2>
          <img
            loading="lazy"
            src="../src/assets/default_avatar.png"
            alt="Player avatar"
            class="game-player-avatar"
          />
          <h3 class="game-player-name">Vladimir</h3>
          <div class="game-player-stats-container">
            <p class="game-player-statistics-param">Games played</p>
            <p class="game-player-statistics-param-number">15</p>
          </div>
          <div class="game-player-win-rate-container">
            <p class="game-player-statistics-param">Win rate</p>
            <p class="game-player-statistics-param-number last">80.3 %</p>
          </div>
        </article>
      </div>
      <div class="game-player-card">
        <article class="game-player-card-inner">
          <h2 class="game-player-number">Player 2</h2>
          <img
            loading="lazy"
            src="../src/assets/default_avatar.png"
            alt="Player avatar"
            class="game-player-avatar"
          />
          <h3 class="game-player-name">Max</h3>
          <div class="game-player-stats-container">
            <p class="game-player-statistics-param">Games played</p>
            <p class="game-player-statistics-param-number">6</p>
          </div>
          <div class="game-player-win-rate-container">
            <p class="game-player-statistics-param">Win rate</p>
            <p class="game-player-statistics-param-number last">66.6 %</p>
          </div>
        </article>
      </div>
      <div class="game-player-card">
        <article class="game-player-card-inner">
          <h2 class="game-player-number">Player 3</h2>
          <img
            loading="lazy"
            src="../src/assets/default_avatar.png"
            alt="Player avatar"
            class="game-player-avatar"
          />
          <h3 class="game-player-name">Robert</h3>
          <div class="game-player-stats-container">
            <p class="game-player-statistics-param">Games played</p>
            <p class="game-player-statistics-param-number">100</p>
          </div>
          <div class="game-player-win-rate-container">
            <p class="game-player-statistics-param">Win rate</p>
            <p class="game-player-statistics-param-number last">99 %</p>
          </div>
        </article>
      </div>
      <div class="game-player-card">
        <article class="game-player-card-inner">
          <h2 class="game-player-number">Player 4</h2>
          <img
            loading="lazy"
            src="../src/assets/default_avatar.png"
            alt="Player avatar"
            class="game-player-avatar"
          />
          <h3 class="game-player-name">Vladimir</h3>
          <div class="game-player-stats-container">
            <p class="game-player-statistics-param">Games played</p>
            <p class="game-player-statistics-param-number">15</p>
          </div>
          <div class="game-player-win-rate-container">
            <p class="game-player-statistics-param">Win rate</p>
            <p class="game-player-statistics-param-number last">80.3 %</p>
          </div>
        </article>
      </div>
    </div>
    <div class="single-game-vs-logo">
      <img
        class="single-game-vs-logo-props"
        src="../src/assets/vs_logo.png"
        alt="Versus logo"
      />
    </div>
    <div class="single-game-grid-right">
      <div class="game-player-card">
        <article class="game-player-card-inner">
          <h2 class="game-player-number">Player 1</h2>
          <img
            loading="lazy"
            src="../src/assets/default_avatar.png"
            alt="Player avatar"
            class="game-player-avatar"
          />
          <h3 class="game-player-name">Vladimir</h3>
          <div class="game-player-stats-container">
            <p class="game-player-statistics-param">Games played</p>
            <p class="game-player-statistics-param-number">15</p>
          </div>
          <div class="game-player-win-rate-container">
            <p class="game-player-statistics-param">Win rate</p>
            <p class="game-player-statistics-param-number last">80.3 %</p>
          </div>
        </article>
      </div>
      <div class="game-player-card">
        <article class="game-player-card-inner">
          <h2 class="game-player-number">Player 2</h2>
          <img
            loading="lazy"
            src="../src/assets/default_avatar.png"
            alt="Player avatar"
            class="game-player-avatar"
          />
          <h3 class="game-player-name">Max</h3>
          <div class="game-player-stats-container">
            <p class="game-player-statistics-param">Games played</p>
            <p class="game-player-statistics-param-number">6</p>
          </div>
          <div class="game-player-win-rate-container">
            <p class="game-player-statistics-param">Win rate</p>
            <p class="game-player-statistics-param-number last">66.6 %</p>
          </div>
        </article>
      </div>
      <div class="game-player-card">
        <article class="game-player-card-inner">
          <h2 class="game-player-number">Player 3</h2>
          <img
            loading="lazy"
            src="../src/assets/default_avatar.png"
            alt="Player avatar"
            class="game-player-avatar"
          />
          <h3 class="game-player-name">Robert</h3>
          <div class="game-player-stats-container">
            <p class="game-player-statistics-param">Games played</p>
            <p class="game-player-statistics-param-number">100</p>
          </div>
          <div class="game-player-win-rate-container">
            <p class="game-player-statistics-param">Win rate</p>
            <p class="game-player-statistics-param-number last">99 %</p>
          </div>
        </article>
      </div>
      <div class="game-player-card">
        <article class="game-player-card-inner">
          <h2 class="game-player-number">Player 4</h2>
          <img
            loading="lazy"
            src="../src/assets/default_avatar.png"
            alt="Player avatar"
            class="game-player-avatar"
          />
          <h3 class="game-player-name">Vladimir</h3>
          <div class="game-player-stats-container">
            <p class="game-player-statistics-param">Games played</p>
            <p class="game-player-statistics-param-number">15</p>
          </div>
          <div class="game-player-win-rate-container">
            <p class="game-player-statistics-param">Win rate</p>
            <p class="game-player-statistics-param-number last">80.3 %</p>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="single-game-bottom">
    <button class="single-game-buttons back" tabindex="0">Back to menu</button>
    <button class="single-game-buttons randomize" tabindex="0">
      Randomize
    </button>
    <button class="single-game-buttons start" tabindex="0">Start match</button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll(".game-player-card-inner");

    cards.forEach((card) => {
      card.addEventListener("click", () => {
        if (card.classList.contains("selected")) {
          card.classList.remove("selected");
          cards.forEach((c) => c.classList.remove("shaded"));
        } else {
          cards.forEach((c) => c.classList.remove("selected"));
          card.classList.add("selected");

          cards.forEach((c) => {
            if (c !== card) {
              c.classList.add("shaded");
            } else {
              c.classList.remove("shaded");
            }
          });
        }
      });
    });
  });
</script>
