<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="tournament-match-container">
    <h1 class="tournament-match-title">Semifinal 1</h1>
    <div class="tournament-match-players">
      <div class="tournament-match-player-info">
        <img
          loading="lazy"
          src="../src/assets/default_avatar.png"
          alt="Player avatar"
          class="tournament-match-avatar"
        />
        <h3 class="game-player-name tournament">Vladimir</h3>
      </div>
      <img
        class="tournament-match-vs-logo"
        src="../src/assets/vs_logo.png"
        alt="Versus logo"
      />
      <div class="tournament-match-player-info">
        <img
          loading="lazy"
          src="../src/assets/default_avatar.png"
          alt="Player avatar"
          class="tournament-match-avatar"
        />
        <h3 class="game-player-name tournament">Dmitrii</h3>
      </div>
    </div>
  </div>
  