<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="tournament-main">
  <div class="tournament-top">
    <div class="tournament-top-left">
      <div class="tournament-name">
        <h1 class="tournament-name-text">Transcendence Cup 2024</h1>
      </div>
      <div class="tournament-grid">
        <div class="game-player-card">
          <article class="game-player-card-inner">
            <h2 class="game-player-number">Player 1</h2>
            <img
              loading="lazy"
              src="../src/assets/default_avatar.png"
              alt="Player avatar"
              class="game-player-avatar"
            />
            <h3 class="game-player-name">Vladimir</h3>
            <div class="game-player-win-rate-container">
              <p class="game-player-statistics-param">Win rate</p>
              <p class="game-player-statistics-param-number last">80.3 %</p>
            </div>
          </article>
        </div>
        <div class="game-player-card">
          <article class="game-player-card-inner">
            <h2 class="game-player-number">Player 2</h2>
            <img
              loading="lazy"
              src="../src/assets/default_avatar.png"
              alt="Player avatar"
              class="game-player-avatar"
            />
            <h3 class="game-player-name">Max</h3>
            <div class="game-player-win-rate-container">
              <p class="game-player-statistics-param">Win rate</p>
              <p class="game-player-statistics-param-number last">66.6 %</p>
            </div>
          </article>
        </div>
        <div class="game-player-card">
          <article class="game-player-card-inner">
            <h2 class="game-player-number">Player 3</h2>
            <img
              loading="lazy"
              src="../src/assets/default_avatar.png"
              alt="Player avatar"
              class="game-player-avatar"
            />
            <h3 class="game-player-name">TestUser</h3>
            <div class="game-player-win-rate-container">
              <p class="game-player-statistics-param">Win rate</p>
              <p class="game-player-statistics-param-number last">100 %</p>
            </div>
          </article>
        </div>
        <div class="game-player-card">
          <article class="game-player-card-inner">
            <h2 class="game-player-number">Player 4</h2>
            <img
              loading="lazy"
              src="../src/assets/default_avatar.png"
              alt="Player avatar"
              class="game-player-avatar"
            />
            <h3 class="game-player-name">NewUser</h3>
            <div class="game-player-win-rate-container">
              <p class="game-player-statistics-param">Win rate</p>
              <p class="game-player-statistics-param-number last">-</p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="tournament-top-right">
      <h2 class="tournament-round h2">Semifinal 1</h2>
      <h2 class="tournament-round h2">Semifinal 2</h2>
      <h2 class="tournament-round h2">Final</h2>
    </div>
  </div>
  <div class="tournament-setup-buttons">
    <button class="tournament-setup-buttons button back-to-menu" tabindex="0">
      Back to menu
    </button>
    <button class="tournament-setup-buttons button generate" tabindex="0">
      Generate bracket
    </button>
  </div>
</div>
