<link
  href="https://fonts.googleapis.com/css?family=Keania One"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
<link href="./styles.css" rel="stylesheet" />

<div class="tournament-statistics">
  <div class="tournament-statistics-header">
    <header class="tournament-statistics-header-wrapper">
      <a href="#" class="logo">
        <img src="../src/assets/back_arrow.svg" alt="" />
      </a>
      <h1 class="tournament-statistics-title">Transcendence Cup 2024</h1>
    </header>
  </div>
  <div class="tournament-statistics-result">
    <div class="tournament-statistics-text-format">
      <span>Total points :</span>
      <span>64</span>
    </div>
    <div class="tournament-statistics-text-format">
      <span>Average time per point :</span>
      <span>7 seconds</span>
    </div>
    <div class="tournament-statistics-text-format">
      <span>Fastest match :</span>
      <span>1 min 54 sec</span>
    </div>
    <div class="tournament-statistics-text-format last">
      <span>Overall time in game :</span>
      <span>9 min 12 sec</span>
    </div>
  </div>
</div>
