/* General styles */

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: white;
}

.half {
  width: 50%;
  height: 90%;
}

.box {
  background-color: rgba(1, 1, 1, 0.3);
  /* border: 1px solid red; */
}
.homeLeft {
  position: absolute;
  left: 0;
  top: 18.7%;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center; 
  width: 50%;
  gap: 5%;
  grid-template-columns: 41.1% 40%;
  grid-template-rows: 48% 48%;
  height: 76.1%;
  /* display: none; */
}
section {
  height: 100%;
}
.homeRight {
  position: absolute;
  right: 0;
  top: 18.7%;
  display: grid;
  column-gap: 0%;
  grid-template-columns: 51.9% 50%;
  grid-template-rows: 69.8% 25%;
  height: 75%;
}
.buttonContainer {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.signup {
  position: absolute;
  left: 3.436%;
  top: 18.7%;
  width: 40%;
  display: none;
  height: 75%;
}
/* .signupInput {
  width: 80%;
  margin: 2% 10%;
  } */
  
.signin {
  position: absolute;
  left: 3.436%;
  top: 18.7%;
  width: 40%;
  display: none;
  height: 75%;
}

.matchView {
  position: absolute;
  right: 0;
  top: 18.7%;
  display: none;
}

.gameStartView {
  width: 100%;
  height: 90%;
  display: grid;
  gap: 2%;
  grid-template-columns: 21% 21% 8% 21% 21%;
  grid-template-rows: 49% 49%;
}
.vsImage {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.gameButtonContainer {
  height: 10%;
  width: 100%;
  display: grid;
  padding-top: 2%;
  column-gap: 20%;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 30%;
}
.tournamentLeft {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  gap: 4%;
  grid-template-columns: 48% 48%;
  grid-template-rows: 12% 40% 40%;
  height: 100%;
}

.tournamentName {
  grid-column-start: 1;
  grid-column-end: 3;
}

.tournamentRight {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  column-gap: 4%;
  grid-template-columns: 100%;
  grid-template-rows: 31% 31% 31%;
}
.profile {
  width: 99%;
  height: 99%;
}

/* Sign in and Sign up forms */

.register-container {
  width: 680px;
  height: 692px;
  display: flex;
}
.register-form-wrapper {
  border-radius: 45px;
  background-color: rgba(18, 16, 16, 0.25);
  width: 100%;
  padding: 0px 52px 22px;
  border: 1px solid #a7a7a7;
}
.header-container {
  display: flex;
  width: 317px;
  max-width: 100%;
  gap: 20px;
  justify-content: space-between;
  margin-left: 56px;
}
.animation {
  aspect-ratio: 1.43;
  object-fit: contain;
  width: 38px;
  align-self: center;
  cursor: pointer;
  margin: 8px 0 0 -5px;
  transition: box-shadow 0.3s, transform 0.3s;
}
.animation:hover {
  transform: translateY(-3px);
}
.title {
  color: #fff;
  font-family: "Keania One";
  font-size: 52px;
}
.form-input {
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.25);
  width: 458px;
  max-width: 100%;
  color: #fff;
  margin: 18px 0 0 32px;
  padding: 2px 25px;
  font-family: "Acme";
  font-size: 22px;
}
.first-input {
  margin-top: 4px;
}
.remember-me-container {
  display: flex;
  gap: 8px;
  margin: 24px 0 0 30px;
}
.checkbox-inner {
  background-color: rgba(0, 8, 255, 0.5);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.remember-text {
  color: rgba(89, 89, 89, 1);
  font: 400 22px Acme, sans-serif;
  margin-top: -2px;
}
.submit-button {
  border-radius: 20px;
  background-color: rgba(50, 73, 94, 1);
  color: #fff;
  padding: 6px 188px;
  font: 400 28px Acme, sans-serif;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}
.submit-button:hover {
  transform: translateY(-3px);
}
.button-wrapper {
  display: flex;
  margin: 26px auto 0;
  max-width: 100%;
  gap: 20px;
  justify-content: center;
  font: 400 20px Acme, sans-serif;
}
.prompt {
  display: flex;
  margin: 26px auto 0;
  width: 317px;
  max-width: 100%;
  gap: 20px;
  justify-content: center;
  font: 400 20px Acme, sans-serif;
}
.prompt-oauth {
  display: flex;
  margin: 26px auto 0;
  width: 317px;
  max-width: 100%;
  gap: 20px;
  justify-content: center;
  font: 400 28px Acme, sans-serif;
}
.prompt-text {
  color: rgba(255, 255, 255, 1);
}
.reg-link {
  color: rgba(0, 186, 186, 1);
  text-decoration: none;
}
.divider {
  justify-content: center;
  max-width: 100%;
  height: 0px;
  margin: 29px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.oauth-logo {
  aspect-ratio: 3.06;
  object-fit: contain;
  width: 98px;
  margin: 15px auto 0;
  display: block;
}
.prompt-not-a-member {
  display: flex;
  margin: 18px auto 130px;
  width: 317px;
  max-width: 100%;
  gap: 20px;
  justify-content: center;
  font: 400 20px Acme, sans-serif;
}

/* Small component to sign-in/sign-out player, check profile or log out */

.player-brief-info-panel {
  border-radius: 45px;
  background-color: rgba(18, 16, 16, 0.25);
  display: flex;
  max-width: 287px;
  max-height: 325px;
  height: 100%;
  flex-direction: column;
  border: 1px solid #a7a7a7;
  color: #fff;
  font: 400 28px Acme, sans-serif;
}

.auth-title {
  align-self: center;
  font: 40px "Keania One", sans-serif;
  margin-bottom: 45px;
}

.auth-button {
  border-radius: 20px;
  background-color: rgba(50, 73, 94, 1);
  border: none;
  color: #fff;
  cursor: pointer;
  font: inherit;
  padding: 5px 62px 5px;
  margin: 21px auto 0;
  width: 75%;
  transition: box-shadow 0.3s, transform 0.3s;
}
.auth-button:hover {
  transform: translateY(-3px);
}

.auth-button:first-of-type {
  margin-top: 51px;
}

.auth-button:last-of-type {
  margin-bottom: 51px;
}

.profile-avatar {
  aspect-ratio: 0.85;
  object-fit: contain;
  object-position: center;
  width: 100px;
  align-self: center;
  max-width: 100%;
}

.username {
  align-self: center;
  margin-top: 0px;
  font: 400 28px Acme, sans-serif;
}

.profile-button {
  border-radius: 20px;
  background-color: rgba(50, 73, 94, 1);
  border: none;
  color: #fff;
  cursor: pointer;
  font: inherit;
  padding: 5px 62px 5px;
  margin: 0 auto 0;
  width: 75%;
}

.logout-button {
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.25);
  border: none;
  color: #fff;
  cursor: pointer;
  font: inherit;
  padding: 5px 62px 5px;
  margin: 18px auto 39px;
  width: 75%;
}

/* Creation of any kind of game */

.create-action {
  border-radius: 45px;
  max-width: 789px;
  max-height: 59px;
  background-color: rgba(18, 16, 16, 0.25);
  width: 100%;
  cursor: pointer;
  padding: 6px 70px 6px;
  border: 1px solid #a7a7a7;
  font-family: "Keania One";
  font-size: 32px;
  color: #fff;
  transition: box-shadow 0.3s, transform 0.3s;
}
.create-action:hover {
  transform: translateY(-3px);
}

/* Recent matches container */

.matches-container {
  display: flex;
  width: 350px;
  height: 420px;
  flex-direction: column;
  color: #fff;
  font: 400 28px Acme, sans-serif;
}

.matches-card {
  border-radius: 45px;
  height: 420px;
  background-color: rgba(18, 16, 16, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  border: 1px solid #a7a7a7;
}

.matches-title {
  font: 36px "Keania One", sans-serif;
  text-align: center;
  width: 100%;
  margin: 30px auto 3px;
}

.matches-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-height: 280px;
  overflow-y: scroll;
  scrollbar-width: thin;
  margin: 0px 0 10px -5px;
  scrollbar-color: rgba(89, 89, 89, 0.25) rgba(18, 16, 16, 0.25);
}

.match-result {
  align-self: start;
  margin-top: 12px;
}

.match-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.winner-name {
  color: #00ff37;
}

.match-link {
  text-decoration: none;
  color: #fff;
  margin: 0 auto 0;
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.3s;
}

.match-link:hover {
  transform: translateY(-3px);
}

.matches-list::-webkit-scrollbar {
  width: 6px;
}

.matches-list::-webkit-scrollbar-thumb {
  background-color: #595959;
  border-radius: 10px;
}

.matches-list::-webkit-scrollbar-track {
  background-color: rgba(18, 16, 16, 0.25);
}

/* Recent tournaments container */

.tournament-container {
  display: flex;
  width: 350px;
  height: 420px;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
}

.tournament-card {
  border-radius: 45px;
  background-color: rgba(18, 16, 16, 0.25);
  height: 420px;
  display: flex;
  flex-direction: column;
  border: 1px solid #a7a7a7;
}

.tournament-title {
  align-self: center;
  font: 36px "Keania One", sans-serif;
  margin-top: 30px;
  margin-bottom: 25px;
}

.tournament-content {
  display: flex;
  align-items: center;
  gap: 16px;
  font: 24px/52px "Acme", sans-serif;
  margin: 0px 8px 16px 8px;
}

.tournament-icon {
  aspect-ratio: 0.73;
  object-fit: contain;
  object-position: center;
  width: 19px;
  align-self: stretch;
  margin: 0 auto 2px;
}

.tournament-details {
  text-shadow: 0 4px 4px rgba(18, 16, 16, 0.25);
  align-self: stretch;
  flex-grow: 1;
  width: 248px;
}

.status-completed {
  color: #00ff37;
}

.date-text {
  font-size: 22px;
}

.tournament-link {
  color: #fff;
}

/* Match statistics container */

.match-stats-title {
  font-family: "Keania One";
  font-size: 40px;
  color: #fff;
  margin: 18px auto 18px;
}

.match-stats-title-top {
  font-family: "Keania One";
  font-size: 40px;
  color: #fff;
}

.match-stats {
  display: flex;
  flex-direction: column;
  max-width: 92.5%;
  max-height: 83.7%;
  border-radius: 45px;
  background-color: rgba(18, 16, 16, 0.25);
  width: 100%;
  border: 1px solid #a7a7a7;
}

.match-stats-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 50px;
  margin-right: 31.5%;
  margin-left: 6%;
}

.match-stats-header-wrapper {
  display: flex;
  width: 581px;
  max-width: 100%;
  justify-content: space-between;
}

.match-stats-result {
  margin: 0 70px 0;
}

.match-stats-text-format {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Acme", sans-serif;
  font-size: 34px;
  margin-top: 8px;
}

.match-stats-result.time-info {
  margin-top: 20px;
}

.match-stats-header-no-arrow {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.match-stats-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto 6px;
}

.match-stats-scroll-container {
  height: 200px;
  overflow-y: auto;
  padding: 0 25px 0;
  margin: 0 45px 15px;
  scrollbar-width: thin;
  scrollbar-color: #595959 #121010;
}

.match-stats-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.match-stats-scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.match-stats-player-name {
  position: relative;
  flex-grow: 1;
  width: 33%;
  text-align: left;
}

.match-stats-match-score {
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
}

/* Add ai container */

.add-ai-main-container {
  display: flex;
  flex-direction: column;
  background-color: #121010;
  border: 1px solid #a7a7a7;
  border-radius: 45px;
  max-width: 629px;
  max-height: 151px;
  color: #fff;
}
.add-ai-top-part {
  display: flex;
  align-items: center;
  padding: 0 50px 0;
  margin-bottom: 0px;
  position: relative;
}

.add-ai-checkbox {
  display: flex;
  flex-direction: row;
  margin: 26px auto 0px;
}

.add-ai-checkbox input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 6px;
}

.add-ai-checkbox-space {
  margin-left: 10px;
  margin-right: 10px;
}

.add-ai-header {
  font: 400 32px Acme, sans-serif;
  margin-bottom: 0px;
}

.settings-icon {
  margin-top: 26px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.add-ai-buttons {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
}
.add-ai-button {
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font: 400 24px Acme, sans-serif;
  padding: 6px 62px 6px;
  margin: 24px auto 32px;
}
.add-ai-button.back {
  background-color: rgba(255, 0, 0, 0.25);
}

.add-ai-button.continue {
  background-color: #32495e;
}

.add-ai-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font: 400 18px Acme, sans-serif;
}

.add-ai-tooltip .add-ai-tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: rgba(89, 89, 89, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-left: 20px;
  margin-top: 21px;
  position: absolute;
  z-index: 1;
}

.add-ai-tooltip:hover .add-ai-tooltiptext {
  visibility: visible;
}

/* Single-game user profile */

.game-player-card {
  display: flex;
  max-width: 273px;
  max-height: 318px;
  flex-direction: column;
  color: #fff;
  font: 400 28px Acme, sans-serif;
}

.game-player-card-inner {
  border-radius: 45px;
  background-color: #262424;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a7a7a7;
}

.game-player-number {
  font: 36px "Keania One", sans-serif;
  margin-top: 10px;
  margin-bottom: 14px;
}

.game-player-avatar {
  aspect-ratio: 0.98;
  object-fit: contain;
  object-position: center;
  width: 67px;
}

.game-player-name {
  font-size: 34px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.game-player-stats-container {
  width: 80%;
  display: flex;
}

.game-player-statistics-param {
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-player-statistics-param-number {
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-player-statistics-param-number.last {
  margin-top: 10px;
  margin-bottom: 20px;
}

.game-player-win-rate-container {
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

/* Single game lobby container */

.single-game-lobby {
  max-width: 95%;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  font-family: "Acme", sans-serif;
  color: #fff;
  background-color: #121010;
  border-radius: 45px;
}

.single-game-top {
  display: flex;
  flex-direction: row;
}

.single-game-bottom {
  display: flex;
  flex-direction: row;
}

.single-game-vs-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-game-vs-logo-props {
  width: 150px;
  height: 150px;
}

.single-game-grid-left {
  display: grid;
  grid-template-columns: 52% 52%;
  gap: 20px;
  width: 100%;
  margin: 3%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.single-game-grid-right {
  display: grid;
  grid-template-columns: 52% 52%;
  gap: 20px;
  width: 100%;
  margin: 3%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.single-game-buttons {
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font: 400 32px Acme, sans-serif;
  padding: 8px 84px 8px;
  margin: 0px auto 32px;
}

.single-game-buttons.back {
  background-color: rgba(255, 0, 0, 0.25);
}

.single-game-buttons.randomize {
  background-color: #32495e;
}

.single-game-buttons.start {
  background-color: rgba(0, 255, 55, 0.25);
}

.game-player-card-inner.selected {
  border: 1px solid green;
}

.game-player-card-inner.shaded {
  opacity: 0.5;
}

/* Tournament pre setup */

.tournament-setup {
  position: absolute;
  left: 31.60%;
  top: 21%;
  display: none;
  width: 629px;
  height: 496px;
  flex-direction: column;
  background-color: rgba(18, 16, 16, 1);
  border-radius: 20px;
  border: 1px solid #a7a7a7;
  z-index: 1001;
}
.tournament-setup-name {
  display: flex;
  justify-content: center;
  margin: 36px 0 12px 0;
}
.tournament-setup-name-input {
  border-radius: 15px;
  background-color: rgba(18, 16, 16, 1);
  color: #fff;
  padding: 12px 16px 12px;
  width: 90%;
  font: 400 22px Acme, sans-serif;
  border: 1px solid #a7a7a7;
}
.tournament-setup-header-container {
  display: flex;
  justify-content: center;
  margin: 6px 0 24px 0;
}
.tournament-setup-header {
  font: 400 36px Acme, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
}
.tournament-setup-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}
.tournament-setup-avatar {
  width: 60px;
  height: 60px;
}
.tournament-setup-player-name {
  font: 400 24px Acme, sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
}
.game-player-card.tournament {
  place-self: center;
  width: 70%;
}
.tournament-setup-buttons {
  display: flex;
  padding: 4px 30px 4px;
  width: 90%;
  gap: 50%;
}
.tournament-setup-buttons.selection {
  margin: 30px auto;
}
.tournament-setup-buttons.button {
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font: 400 24px Acme, sans-serif;
}
.tournament-setup-buttons.back {
  background-color: rgba(255, 0, 0, 0.25);
  padding-left: 8%;
  align-content: center;
  transition: box-shadow 0.3s, transform 0.3s;
}
.tournament-setup-buttons.continue {
  background-color: #32495e;
  transition: box-shadow 0.3s, transform 0.3s;
}
.tournament-setup-buttons.back:hover {
  transform: translateY(-3px);
}
.tournament-setup-buttons.continue:hover {
  transform: translateY(-3px);
}

/* Tournament lobby */

.tournament-main {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 99.5%;
  display: none;
  flex-direction: column;
  font-family: "Acme", sans-serif;
  color: #fff;
  background-color: rgba(18, 16, 16, 0.25);
  border-radius: 45px;
}
.tournament-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.tournament-top > div {
  flex: 1;
}
.tournament-bottom {
  display: flex;
  flex-direction: row;
}
.tournament-top-right {
  display: flex;
  flex-direction: column;
  margin-top: 1.7%;
}
.tournament-round {
  border-radius: 45px;
  background-color: rgba(18, 16, 16, 0.25);
  width: 72%;
  padding: 77px 77px 77px;
  border: 1px solid #a7a7a7;
}
.tournament-round.h2 {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.25);
  font-family: "Keania One";
  font-size: 64px;
  padding: 7.2%;
  margin: 10px 0 10px 0;
}
.tournament-name {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.tournament-name-text {
  color: #bda611;
}
.tournament-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2.5% 12% 5.5%;
  gap: 4.4%;
  place-items: center;
}
.tournament-grid > div {
  width: 400px;
}
.tournament-setup-buttons.generate {
  display: block;
  background-color: rgba(50, 73, 94, 0.8);
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 30px;
  transition: box-shadow 0.3s, transform 0.3s;
}
.tournament-setup-buttons.lobby {
  margin: 34px auto;
}
.tournament-setup-buttons.back-to-menu {
  background-color: rgba(255, 0, 0, 0.25);
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 30px;
  transition: box-shadow 0.3s, transform 0.3s;
}
.tournament-setup-buttons.start-sf-1 {
  display: none;
  background-color: rgba(4, 255, 0, 0.25);
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 30px;
  transition: box-shadow 0.3s, transform 0.3s;
}
.tournament-setup-buttons.generate:hover {
  transform: translateY(-3px);
}
.tournament-setup-buttons.back-to-menu:hover {
  transform: translateY(-3px);
}
.tournament-setup-buttons.start-sf-1:hover {
  transform: translateY(-3px);
}
.tournament-game-player-card-inner {
  border-radius: 45px;
  background-color: rgba(38, 36, 36, 0.25);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a7a7a7;
}

/* Tournament match container */

.tournament-match-container {
  display: none;
  flex-direction: column;
  color: #fff;
  background-color: rgba(18, 16, 16, 0.25);
  border: 1px solid #a7a7a7;
  border-radius: 45px;
  max-width: 86.8%;
  margin: 10px 0 11px 0;
}

.tournament-match-title {
  display: flex;
  justify-content: center;
  font-family: "Keania One", sans-serif;
  font-size: 42px;
  margin-bottom: 6px;
  margin-top: 16px;
}

.tournament-match-players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 5% 0;
}

.tournament-match-vs-logo {
  width: 100px;
  height: 100px;
  /* position: absolute;
  left: 68.7%; */
}

.tournament-match-left-score {
  /* position: absolute;
  left: 60%; */
}

.tournament-match-right-score {
  /* position: absolute;
  left: 75%; */
}

.tournament-match-player-info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament-match-match-score {
  position: absolute;
  left: 67%;
  display: flex;
  flex-direction: row;
  font-family: "Acme", sans-serif;
  font-size: 32px;
  margin-top: 8px;
}

.tournament-match-player-info-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament-match-avatar {
  width: 70px;
  height: 70px;
}

.game-player-name.tournament {
  font-family: "Acme", sans-serif;
  font-size: 34px;
}

/* Tournament statistics container */

.tournament-statistics-title {
  font-family: "Acme";
  font-size: 44px;
  color: #bda611;
  margin: 25px auto 25px;
}

.tournament-statistics {
  display: flex;
  flex-direction: column;
  max-width: 707px;
  max-height: 342px;
  border-radius: 45px;
  background-color: rgba(18, 16, 16, 1);
  width: 100%;
  border: 1px solid #a7a7a7;
}

.tournament-statistics-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 50px;
}

.tournament-statistics-header-wrapper {
  display: flex;
  width: 581px;
  max-width: 100%;
  justify-content: space-between;
}

.tournament-statistics-result {
  margin: 0 70px 0;
}

.tournament-statistics-text-format {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Acme", sans-serif;
  font-size: 30px;
  margin-top: 8px;
}

.tournament-statistics-text-format.last {
  margin-bottom: 34px;
}

/* Profile page container */

.profile-main {
  max-width: 95%;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #121010;
  border-radius: 45px;
}
.profile-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.profile-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profile-middle-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.profile-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-player-avatar {
  width: 150px;
  height: 150px;
}
.profile-player-name {
  font-family: "Acme", sans-serif;
  font-size: 54px;
  margin-left: 4%;
}
.profile-edit-image {
  width: 30px;
  height: 30px;
}
.profile-change-password-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3%;
}
.profile-change-password {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 0px 16px 0px;
  background-color: #32495e;
}
.profile-change-password-text {
  color: #fff;
  font: 400 32px Acme, sans-serif;
  margin: 10px;
}
.profile-add-friend-container {
  display: flex;
  width: 700px;
  flex-direction: column;
  color: #fff;
  font: 400 22px Acme, sans-serif;
}

.profile-add-friend-button {
  border-radius: 15px;
  background-color: #121010;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7px 14px;
  border: 1px solid #a7a7a7;
}

.profile-add-friend-icon {
  aspect-ratio: 1.09;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: start;
}
.profile-add-friend-input {
  border-radius: 15px;
  background-color: #121010;
  display: flex;
  width: 100%;
  padding: 7px 14px;
  margin: 4% auto 4%;
  border: 1px solid #a7a7a7;
  font-family: "Acme", sans-serif;
  font-size: 22px;
  color: #fff;
}

/* Profile page container. Friends list */

.profile-friend-list {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 435px;
  border-radius: 45px;
  margin: 2%;
  margin-top: 0;
  background-color: rgba(18, 16, 16, 1);
  border: 1px solid #a7a7a7;
}
.profile-friend-list-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
}
.profile-friend-list-title {
  font-family: "Keania One", sans-serif;
  font-size: 40px;
  color: #fff;
}
.profile-friend-list-search {
  display: flex;
  margin-left: 10%;
  align-items: center;
}
.profile-friend-list-input {
  border-radius: 15px;
  background-color: #121010;
  display: flex;
  width: 100%;
  padding: 7px 14px;
  border: 1px solid #a7a7a7;
  font-family: "Acme", sans-serif;
  font-size: 22px;
  color: #fff;
}
.profile-friends-ul {
  margin: 4%;
  margin-top: 0;
  padding: 0;
  font-size: 28px;
}
.profile-friends-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Acme", sans-serif;
  margin-top: 8px;
  font-size: 28px;
}
.profile-friend-status {
  position: absolute;
  left: 50%;
  transform: translateX(-40%);
}
.profile-friend-actions {
  position: absolute;
  left: 69%;
}
.profile-friend-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 200px;
}
.profile-scroll-container {
  height: 300px;
  overflow-y: auto;
  margin: 0 5px 0;
  scrollbar-width: thin;
  scrollbar-color: #595959 #121010;
}
.profile-scroll-container.friends {
  height: 300px;
}
.profile-scroll-container::-webkit-scrollbar {
  width: 8px;
}
.profile-scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Profile page container. Recent matches */

.profile-recent-matches {
  display: flex;
  flex-direction: column;
  border-radius: 45px;
  background-color: #121010;
  margin-right: 4%;
  width: 50%;
  height: 500px;
  color: #fff;
  border: 1px solid #a7a7a7;
}
.profile-recent-matches-top {
  display: flex;
  justify-content: center;
}
.profile-recent-matches-title {
  font: 400 36px Acme, sans-serif;
}
.profile-recent-matches-ul {
  margin: 4%;
  margin-top: 0;
  padding: 0;
  font-size: 28px;
}
.profile-recent-matches-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-family: "Acme", sans-serif;
  margin-top: 20px;
  font-size: 28px;
}
.profile-recent-matches-date {
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
}
.profile-recent-matches-score {
  position: absolute;
  left: 95%;
  transform: translateX(-40%);
}
.profile-recent-player-score {
  font-size: 28px;
}
.profile-scroll-container.matches {
  height: 350px;
}
.profile-dashboards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dashboard-template {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #121010;
  border-radius: 45px;
  color: #fff;
  font: 400 36px Acme, sans-serif;
  border: 1px solid #a7a7a7;
}
.profile-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 2%;
}
.profile-buttons-custom {
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font: 400 32px Acme, sans-serif;
  padding: 8px 84px 8px;
  margin: 0px auto 32px;
  background-color: rgba(255, 0, 0, 0.25);
}

/* Profile match statistics container */

.profile-match-statistics {
  display: flex;
  flex-direction: column;
  max-width: 673px;
  max-height: 507px;
  border-radius: 45px;
  background-color: rgba(18, 16, 16, 1);
  width: 100%;
  border: 1px solid #a7a7a7;
}
.profile-match-statistics-span {
  font-size: 28px;
}
.profile-match-statistics-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile-matches-h2h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Acme", sans-serif;
  font-size: 28px;
  color: fff;
}
.profile-h2h-overall {
  margin: 10%;
}
.profile-h2h-value {
  position: absolute;
  left: 20%;
}
.profile-match-statistics-h2h-header {
  font-size: 36px;
}
.profile-match-statistics-dashboard-template {
  width: 250px;
  height: 250px;
  color: fff;
}

/* Friend profile information */

.profile-friend-statistics-avatar {
  width: 70px;
  height: 70px;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 15px;
}
.profile-friend-statistics-name {
  font-family: "Acme", sans-serif;
  font-size: 36px;
  color: fff;
}
.profile-friend-statistics-top {
  display: flex;
  justify-content: baseline;
  padding: 0 0 0 50px;
}
.profile-friend-statistics-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
.profile-friend-statistics-wrapper {
  display: flex;
  width: 581px;
  max-width: 100%;
}
.logo.profile-friend-statistics {
  margin-top: 5px;
}
.profile-friend-statistics-date {
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
}
.profile-friend-statistics-score {
  position: absolute;
  left: 96%;
  transform: translateX(-40%);
}
.profile-friend-statistics-recent-matches {
  width: 330px;
}
.profile-friend-statistics-recent-matches-div {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.profile-friend-statistics-title {
  font-family: "Keania One";
  font-size: 40px;
  color: #fff;
  margin: 0px auto 0px;
}
.profile-friend-statistics-dashboard-template {
  width: 220px;
  height: 220px;
  color: fff;
  border: 1px solid #a7a7a7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-friend-statistics-h2h-header {
  display: flex;
  justify-content: center;
  font-family: "Keania One";
  font-size: 40px;
  margin-bottom: 24px;
  margin-top: 24px;
}
.profile-friend-dashboards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-friend-statistics-h2h {
  position: absolute;
  left: 37%;
  transform: translateX(-40%);
}
.profile-friend-matches-h2h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Acme", sans-serif;
  font-size: 28px;
  color: fff;
  margin-right: 6.5%;
}

/* Navigation header container */

.navigation-header-container {
  position: absolute;
  left: 6.5%;
  top: 1.9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-header-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: 1472px;
  height: 130px;
}
.navigation-header-content {
  display: flex;
  flex-direction: row;
  gap: 25%;
}
.navigation-header-logo {
  display: flex;
  align-items: center;
  width: 44%;
  margin-left: 2%;
}
.navigation-header-logo-text {
  color: #fff;
  font: 400 85px "Keania One", sans-serif;
}
.navigation-header-item {
  color: #fff;
  font: 400 48px/1 "Keania One", sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.3s, transform 0.3s;
}
.navigation-header-item:hover {
  transform: translateY(-3px);
}
.navigation-header-item.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* App logo in header */

.app-logo {
  width: 63px;
  height: 63px;
  margin-left: 3px;
  margin-top: 3px;
}

/* Overlay */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  pointer-events: none;
}
